{{#liquid-unless isPodVisible}}

{{else}}
	{{#liquid-if podLayer.root class='liquid-pods'}}
        <div class="pod context" >
            <div class="header">
                <div class="title">
                    <div class="primary">25 paths</div>
                    <div class="secondary">8 NE, 99 placemarker, 1500 KM</div>
                </div>
            </div>
        </div>
        <div class="pod context">
            <div class="header">
                <div class="title">
                    <div class="primary">59 links</div>
                    <div class="secondary"><span class="critical">7 down</span>, 10 unassociated</div>
                </div>
            </div>
        </div>
        <div class="pod context">
            <div class="header">
                <div class="title">
                    <div class="primary">OTDR traces</div>
                    <div class="secondary">1 done</div>
                </div>
            </div>
        </div>
		{{else liquid-if podLayer.child}}
            <div class="pod context">
                <div class="header">
                    {{#frost-button class='close tertiary icon' onClick=(action 'closePod')}}
                      {{frost-icon path='frost/chevron'}}
                    {{/frost-button}}
                    <div class="title">
                        Child title
                    </div>
                </div>
                <div class="body">
                    Child context
                </div>
            </div>
            <div class="pod actions primary">
                Child primary action
            </div>
            <div class="pod actions secondary">
                Child secondary action
            </div>
		{{/liquid-if}}
	{{/liquid-unless}}
