$frost-color-critical-1: #E52C2C;
$frost-color-major-1: #EF8E00;
$frost-color-minor-1: #DDD326;
$frost-color-warn-1: #7D85B2;

.frost-pods {
	position: absolute;
}

.frost-pods.top {
	top: 20px;
}

.frost-pods.right {
	right: 20px;
}

.frost-pods.bottom {
	bottom: 20px;
}

.frost-pods.left {
	left: 20px;
}

.frost-pods .pod {
	min-width: 250px;
	min-height: 50px;
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba($frost-color-grey-2, 0.25);
	background-color: rgba($frost-color-white, 0.97);
}

.frost-pods .pod.context {
	padding-bottom: 15px;
}

.frost-pods .pod.context .action {
	cursor: pointer;
}

.frost-pods .context.action {
  cursor: pointer;
}

.frost-pods .pod.context > .header {
  display:flex;
  flex-direction:row;

}

.frost-pods .pod.context > .header .title {

}

.frost-pods .pod.context > .header .close {
  border-right: 1px solid $frost-color-lgrey-1;

  .frost-svg {
    height: 30px;
    padding: 0 10px;
  }
}

.frost-pods .pod.context > .header .title .primary {
	padding: 10px 15px 0 15px;
	font-size: $frost-font-l;
	color: $frost-color-grey-1;
}

.frost-pods .pod.context > .header .title .secondary {
	padding: 5px 15px 0 15px;
	font-size: $frost-font-s;
	color: $frost-color-grey-4;
}

.frost-pods .pod.context > .header .title .breadcrumb {
	padding: 10px 15px 0 15px;
	font-size: $frost-font-s;
	color: $frost-color-grey-5;
}

.frost-pods .pod.context > .header .title .secondary .critical,
.frost-pods .pod.context > .header .title .secondary .major,
.frost-pods .pod.context > .header .title .secondary .minor,
.frost-pods .pod.context > .header .title .secondary .warning {
	font-weight: bold;
}

.frost-pods .pod.context > .header .title .secondary .critical { // TODO Frost-css
	color: $frost-color-critical-1;
}

.frost-pods .pod.context > .header .title .secondary .major { // TODO Frost-css
	color: $frost-color-major-1;
}

.frost-pods .pod.context > .header .title .secondary .minor { // TODO Frost-css
	color: $frost-color-minor-1;
}

.frost-pods .pod.context > .header .title .secondary .warning { // TODO Frost-css
	color: $frost-color-warn-1;
}

.frost-pods .pod.context .body {
    padding: 15px 0px 0px 15px;
}

.frost-pods .pod.context > .row {
	padding: 15px 15px 0 15px;
	display:flex;
	flex-direction:row;
}

.frost-pods .pod.context > .row .property {
	flex:1;
}

.frost-pods .pod.context .property .title {
	font-size: $frost-font-s;
	font-weight: bold;
	color: $frost-color-grey-5;
}

.frost-pods .pod.context .property .value {
	padding-top: 5px;
	font-size: $frost-font-m;
	color: $frost-color-grey-1;
}

.frost-pods .pod.context + .pod.context {
	margin-top: 10px;
}

.frost-pods .pod.actions.primary {
	margin-top: 0;
}

.frost-pods .pod.actions.primary .frost-button,
.frost-pods .pod.actions.primary .frost-link {
	width: 100%;
}

.frost-pods .pod.actions.primary .frost-button + .frost-button,
.frost-pods .pod.actions.primary .frost-button + .frost-link,
.frost-pods .pod.actions.primary .frost-link + .frost-button
.frost-pods .pod.actions.primary .frost-link + .frost-link {
	margin-top: 0;
}

.frost-pods .pod.actions.secondary {
	margin-top: 0;
}

.frost-pods .pod.actions.secondary .frost-button,
.frost-pods .pod.actions.secondary .frost-link {
	width: 100%;
}

.frost-pods .pod.actions.secondary .frost-button + .frost-button,
.frost-pods .pod.actions.secondary .frost-button + .frost-link,
.frost-pods .pod.actions.secondary .frost-link + .frost-button
.frost-pods .pod.actions.secondary .frost-link + .frost-link {
	margin-top: 0;
}
