@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
.frost-pods {
  &.frost-details-pod {
    .pod {
      &.context {
        display: (flex);
        padding-bottom: 0;
        margin: 0;

        .header {
          border-bottom: 1px solid $frost-color-lgrey-1;
          .session {
            .row {
              padding: 15px 15px 0 15px;
              display: flex;
              flex-direction: row;
              border-bottom: 1px solid $frost-color-lgrey-1;
              .property {
                color: #7D85B2;
                flex: 1;
                .title {

                  font-size: $frost-font-s;
                  font-weight: bold;
                  color: $frost-color-grey-5;
                }
                .value {
                  padding-top: 5px;
                  font-size: $frost-font-s;
                  color: $frost-color-grey-1;
                }
                .link {
                  padding-top: 5px;
                  flex-direction: row-reverse;
                  font-size: $frost-font-s;
                  color: $frost-color-grey-1;
                  margin-left: auto;
                  display: block;
                  width: 65px;
                }
              }
            }
            padding: 10px 15px 10px 20px;
            display: flex;
            flex-direction: column;

            &.with-bottom {
              border-bottom: 1px solid $frost-color-lgrey-1;
            }
          }
          .close {
            border: none;
            position: relative;

            .icon {
              width: 70px;
              height: 70px;
              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
              }
            }
            .frost-test {
              margin: 10px 10px 10px 10px;
              padding: 5px 5px 5px 5px;
              border: 5px groove $frost-color-lgrey-1;
            }
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          overflow: scroll;
          max-height: 70vh;
          max-width: 100vw;
        }
        .bottom {
          padding: 10px 10px 10px 0;
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}
