@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$frost-color-critical-1: #E52C2C;
$frost-color-major-1: #EF8E00;
$frost-color-minor-1: #DDD326;
$frost-color-warn-1: #7D85B2;
.frost-details-pod {}
.frost-details-pod .pod.context {
  display: (flex);
}
.frost-details-pod .pod.context .header {
  border-bottom: 1px solid $frost-color-lgrey-1;
}
.frost-details-pod .pod.context .header .close {
  border: none;
  position: relative;

  .icon {
    width: 80px;
    height: 80px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
    }
  }
  .frost-test {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: 5px groove $frost-color-lgrey-1;
  }
}
.frost-details-pod .pod.context .session {
  padding: 10px 15px 10px 20px;
  display: flex;
  flex-direction: column;

  &.with-bottom {
    border-bottom: 1px solid $frost-color-lgrey-1;
  }
}
.frost-details-pod .pod.context .session .critical,
.frost-details-pod .pod.context .session .major,
.frost-details-pod .pod.context .session .minor,
.frost-details-pod .pod.context .session .warning {
  font-weight: bold;
}
.frost-details-pod .pod.context .session .critical {
  // TODO Frost-css
  color: $frost-color-critical-1;
}
.frost-details-pod .pod.context .session .major {
  // TODO Frost-css
  color: $frost-color-major-1;
}
.frost-details-pod .pod.context .session .minor {
  // TODO Frost-css
  color: $frost-color-minor-1;
}
.frost-details-pod .pod.context .session .warning {
  // TODO Frost-css
  color: $frost-color-warn-1;
}
.frost-details-pod .pod.context.session .row {
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $frost-color-lgrey-1;
}
.frost-details-pod .pod.context.session.row .property {
  color: $frost-color-warn-1;
  flex: 1;
}
.frost-details-pod .pod.context.session.row.property .title {
  font-size: $frost-font-s;
  font-weight: bold;
  color: $frost-color-grey-5;
}
.frost-details-pod .pod.context.session.row.property .value {
  padding-top: 5px;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
}
.frost-details-pod .pod.context .session .row .property .link {
  padding-top: 5px;
  flex-direction: row-reverse;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
  margin-left: auto;
  display: block;
  width: 65px;
}
.frost-details-pod .pod.context .bottom {
  padding: 1px 15px 10px 15px;
  display: flex;
  flex-direction: row-reverse;
}

.frost-details-pod .pod.context .bottom .row  {
  padding: 10px 15px 0 15px;
  display: flex;
}
