@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$frost-color-critical-1: #E52C2C;
$frost-color-major-1: #EF8E00;
$frost-color-minor-1: #DDD326;
$frost-color-warn-1: #7D85B2;
.dummy-detail-pods {}
.dummy-detail-pods .pod.context {
  display: (flex);
  flex-direction: (column);
}
.dummy-detail-pods .pod.context .header {
  border-bottom: 1px solid $frost-color-lgrey-1;
}
.dummy-detail-pods .pod.context .header .close {
  border: none;
  .frost-test {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: 5px groove $frost-color-lgrey-1;
  }
}
.dummy-detail-pods .pod.context .session {
  padding: 10px 15px 10px 20px;
  display: flex;
  flex-direction: column;

  &.with-bottom {
    border-bottom: 1px solid $frost-color-lgrey-1;
  }
}
.dummy-detail-pods .pod.context .session .critical,
.dummy-detail-pods .pod.context .session .major,
.dummy-detail-pods .pod.context .session .minor,
.dummy-detail-pods .pod.context .session .warning {
  font-weight: bold;
}
.dummy-detail-pods .pod.context .session .critical {
  // TODO Frost-css
  color: $frost-color-critical-1;
}
.dummy-detail-pods .pod.context .session .major {
  // TODO Frost-css
  color: $frost-color-major-1;
}
.dummy-detail-pods .pod.context .session .minor {
  // TODO Frost-css
  color: $frost-color-minor-1;
}
.dummy-detail-pods .pod.context .session .warning {
  // TODO Frost-css
  color: $frost-color-warn-1;
}
.dummy-detail-pods .pod.context.session .row {
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $frost-color-lgrey-1;
}
.dummy-detail-pods .pod.context.session.row .property {
  color: $frost-color-warn-1;
  flex: 1;
}
.dummy-detail-pods .pod.context.session.row.property .title {
  font-size: $frost-font-s;
  font-weight: bold;
  color: $frost-color-grey-5;
}
.dummy-detail-pods .pod.context.session.row.property .value {
  padding-top: 5px;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
}
.dummy-detail-pods .pod.context .session .row .property .link {
  padding-top: 5px;
  flex-direction: row-reverse;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
  margin-left: auto;
  display: block;
  width: 65px;
}
.dummy-detail-pods .pod.context .bottom {
  padding: 1px 15px 10px 15px;
  display: flex;
  flex-direction: row-reverse;
}

.dummy-detail-pods .pod.context .bottom .row  {
  padding: 10px 15px 0 15px;
  display: flex;
}
