.dummy-search-pods {

}

.dummy-search-pods .pod.context {
	width: 400px;
	height: 400px;
	display: (flex);
    flex-directionz: (column);
}

.dummy-search-pods .pod.context .frost-list {
	flex: (1);
}
