@import './dummy-map-pods';
@import './dummy-node-pods';
@import './dummy-search-pods';
@import './demo';


.dummy-notification-container {
	position: fixed;
	top: 60px;
	right: 10px;
	z-index: 999;
	width: 80%;
	max-width: 400px;
	margin: auto;
}

.dummy-body {
	height: 100%;
}

.dummy-content {
	position: relative;
	height: 100%;
}

.frost-tabs.iframe {
	.navigation {
		display: none;
	}
}
