<div class='pod context'>
<div class="header">
  <div class="close">
    <div class="frost-test">
      {{#each pod.podNames as |stack|}}
      <span id= "testButtonId"  {{action 'changePod' stack}}>{{stack}}/</span> {{/each}}
    </div>
  </div>
  <div class="title">
    <div class="primary">{{podLayerAlias}}</div>
    <div class="secondary">Additional attributes</div>
  </div>
</div>
<div class="session with-bottom">
  <div class="row">
    <div class="property">
      <div class="title">IP address</div>
      <div class="value">192.0.1.2</div>
    </div>
    <div class="property" >
      <div class="title">Lat, Long</div>
      <div class="value">42.66, -73.76</div>
    </div>
  </div>
  <div class="row">
    <div class="property">
      <div class="title">Address</div>
      <div class="value">Undefined</div>
    </div>
  </div>
</div>
</div>
<div class="bottom">
  <div class="row">{{#frost-button class='small secondary text' }}Related{{/frost-button}} </div>
  <div class="row">{{#frost-button class='small secondary text' }}Actions{{/frost-button}} </div>
</div>
